        <div class="footer-container">
            <footer class="wrapper">
                <div id="footer_left">
				
                	<a href="http://www.merge.com"><div class="footer-merge_logo merge_lower_logo" style="width: 117px; height: 18px"></div></a><div class="merge_sitemap"><p><a href="http://www.merge.com/common/privacy.aspx">Privacy</a> | <a href="http://www.merge.com/common/terms.aspx">Terms</a> | <a href="http://www.merge.com/common/sitemap.aspx">Sitemap</a></p></div><br/>
					<p class="copyright">Copyright &copy; 2013 Merge Healthcare Incorporated. All Rights Reserved.</p>
					
                </div>
				
				<div id="footer_right">		
					<p class="sitemap"><strong>866.387.4257</strong> | <a href="http://www.merge.com/Support/Clinical-Trials.aspx">Support</a>  |  <a href="login.jsp?html=marketplace">Marketplace</a>  |  <a href="http://www.merge.com/Solutions/Clinical-Trials/Latest-News.aspx">News</a>  |  <a href="login.jsp?html=about">About</a></p>

<ul class="social_foot"><li><a href="https://www.facebook.com/MergeHealthcare"><i class="icon-facebook-sign"></i></a></li><li><a href="https://twitter.com/MergeHealthcare"><i class="icon-twitter-sign"></i></a></li><li><a href="http://www.linkedin.com/groups/eClinical-OS-4939726/about"><i class="icon-linkedin-sign"></i></a></li></ul>
				</div>
            </footer>
			
			
        </div>

<script src="home/js/vendor/jquery-1.9.1.min.js"></script>

<script src="home/js/jquery.marquee.js"></script>
<script src="home/js/jquery.slides.min.js"></script>
<script src="home/js/plugins-ck.js"></script>
<script src="home/js/jquery.modal.min.js"></script>
<script src="home/js/retina.js"></script>

<script>
window.grunticon=function(e){if(e&&3===e.length){var t=window,n=!!t.document.createElementNS&&!!t.document.createElementNS("http://www.w3.org/2000/svg","svg").createSVGRect&&!!document.implementation.hasFeature("http://www.w3.org/TR/SVG11/feature#Image","1.1"),A=function(A){var o=t.document.createElement("link"),r=t.document.getElementsByTagName("script")[0];o.rel="stylesheet",o.href=e[A&&n?0:A?1:2],r.parentNode.insertBefore(o,r)},o=new t.Image;o.onerror=function(){A(!1)},o.onload=function(){A(1===o.width&&1===o.height)},o.src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///ywAAAAAAQABAAACAUwAOw=="}};
grunticon( [ "home/img/merge_logo/icons.data.svg.css", "home/img/merge_logo/icons.data.png.css", "home/img/merge_logo/icons.fallback.css" ] );</script>
<noscript><link  rel="stylesheet" href="home/img/merge_logo/icons.fallback.css"></noscript>

    </body>
</html>