<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>eClinical OS | About</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
		<meta name="keywords" content="eclinical, eclinical os, merge, edc, etrials, clinical trials, clincial, software">
		<meta name="description" content="Merge eClinical OS is a truly unified platform utilizing a pay as you go, self-run environment to manage and run studies.">

		<link rel="apple-touch-icon" href="home/apple-touch-icon.png" />
		<link rel="icon" href="home/favicon.ico" />

        <link rel="stylesheet" href="home/css/eclinical.css">
        <!--[if lt IE 8]> <link rel="stylesheet" href="home/css/ie_old.css"> <![endif]-->
		
        <script src="home/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>

	   </head>
    <body>
 