	<div class="modal" id="modal_div">
			<div class="modal_close"><a href="#" class="closeBtn">CLOSE <i class="icon-remove"></i> &nbsp; &nbsp; </a> </div>
	<div id="modal_div_content">			

	<div id="log_me_in" class="modal_content">
	<h2>
		Login to eClinical OS
	</h2>



     <form method="post" action="login.jsp" name="loginform" id="loginform" AUTOCOMPLETE = "off">

       <input type="hidden" id="action" name="action" value="logTry">

       <input type="hidden" id="mode" name="mode" value="">

	

		<input type="text" placeholder="User ID"

			class="inputtxt" style='font-size:16px;' size="25" maxlength="15" 

			id="loginuserid" autocomplete="off" name="login" value="">

			

		<input type="password" placeholder="Password"

			size="25" class="inputtxt" style='font-size:16px;' maxlength="20" id="loginpass"

			autocomplete="off" name="password" value="">

		

		<br/>

         <input class="login_button" id="login_button" type="submit" value="LOGIN">

	</form>

	<br/>

	

	<select class="inputtxtNoWidth" id="language_select">											

		<option value="1015">Čeština</option>

<option value="1011">Dansk</option>

<option value="1004">Deutsch</option>

<option value="1013">Eesti</option>

<option value="1020">English (Canada)</option>

<option value="1021">English (United Kingdom)</option>

<option selected value="1001">English (United States)</option>

<option value="1003">Español</option>

<option value="1002">Français</option>

<option value="1017">Français (Belgique)</option>

<option value="1023">Français (Canada)</option>

<option value="1005">Italiano</option>

<option value="1009">Nederlands</option>

<option value="1018">Norsk</option>

<option value="1010">Polski</option>

<option value="1006">Português</option>

<option value="1014">Română</option>

<option value="1016">suomi</option>

<option value="1025">Svenska (Finland)</option>

<option value="1026">Svenska (Sverige)</option>

<option value="1022">Беларуская мова</option>

<option value="1008">&#1056;&#1091;&#1089;&#1089;&#1082;&#1080;&#1081; &#1103;&#1079;&#1099;&#1082;</option>

<option value="1024">Русский язык (Украина)</option>

<option value="1019">Українською мовою</option>

<option value="1012">&#20013;&#25991;&#65288;&#31616;&#20307;&#65289;</option>

<option value="1007">&#26085;&#26412;&#35486;</option>







	</select>



	<p class="error"></p>



	<p><a id="forgot_link" class="signup_link" href="#">Forgot your password?</a></p>



	<p><a class="signup_link" target="docwin" href="https://eclinicalos.com/eCOSHelp/help/other/NewUser.pdf">Need help logging in?</a></p>

</div>



<div id="sign_up_footer">

	<p>Don't have an account?</p>

	<p><a id="newuser_link" href="#">Sign up for free.</a></p>

</div>


			</div>

			</div>
