<header class="wrapper clearfix">
    <div id="upper_logo">
    	<a href="http://www.eclinicalos.com/"><img src="home/img/eos_merge_logo.png" alt="eClinical OS, A Merge Solution"></a>
    </div>
	                <nav>
        <ul>
			<li>
				
				<a id="loginTopLink" class="login_button modalLink" href="#">LOGIN</a>
			</li>

			<li><a href="about.jsp">ABOUT</a></li>						

			<li><a href="http://www.merge.com/Solutions/Clinical-Trials/Latest-News.aspx" target="_blank">NEWS</a></li>

            <li><a href="login.jsp?html=marketplace">MARKETPLACE</a></li>

			<li><a href="http://www.merge.com/Support/Clinical-Trials.aspx" target="_blank">SUPPORT</a></li>
        </ul>
    </nav>
	<div id="circle_nav">					
		<div id="circle_outside">
			<div id="circle_links_above">
				<a class="sponsorslink fulllink arrow_sponsor" href="#"><div class="above_sponsors"></div></a>
				<a class="croslink fulllink arrow_cros" href="#"><div class="above_cros"></div></a><br/>
				<a class="siteslink fulllink arrow_sites" href="#"><div class="above_sites"></div></a>
				<a class="patientslink fulllink arrow_patients" href="#"><div class="above_patients"></div></a>
			</div>
			<img class="circle_inner_default" src="home/img/in_it_default.png" alt="Circle">
			<img class="circle_inner_sponsors" src="home/img/in_it_sponsors.png" alt="Circle">
			<img class="circle_inner_cros" src="home/img/in_it_cros.png" alt="Circle">
			<img class="circle_inner_sites" src="home/img/in_it_sites.png" alt="Circle">
			<img class="circle_inner_patients" src="home/img/in_it_patients.png" alt="Circle">
		</div>
	</div>
</header>
