					<div class="banner_1 hero">
						<h1>Welcome to the one stop clinical trials marketplace...</h1>
					</div>
					
					<div class="banner_2 hero">
						<h1>Sponsors</h1>
						<p><a href="sponsor_cros.html">Price, Build, and Deploy&mdash;Fast <span class="orange_arrow">&raquo;</span></a></p>
						<p><a href="sponsor_cros.html">Right-Size Features and Options <span class="orange_arrow">&raquo;</span></a></p>
						<p><a href="sponsor_cros.html">Pay-As-You-Go for Only What You Use <span class="orange_arrow">&raquo;</span></a></p>
						
						<a href="#"><div class="back_sub"><span class="orange_arrow">&laquo;</span> BACK</div></a>
					</div>
					
					<div class="banner_3 hero">
						<h1>CROs</h1>
						<p><a href="sponsor_cros.html">Price, Build, and Deploy&mdash;Fast <span class="orange_arrow">&raquo;</span></a></p>
						<p><a href="sponsor_cros.html">Mix and Match Features for the Best Fit <span class="orange_arrow">&raquo;</span></a></p>
						<p><a href="sponsor_cros.html">Manage Your Study with Dashboards and Alerts <span class="orange_arrow">&raquo;</span></a></p>
						<a href="#"><div class="back_sub"><span class="orange_arrow">&laquo;</span> BACK</div></a>						
					</div>					

					<div class="banner_4 hero">
						<h1>Sites</h1>
						<p><a href="sites.html">Create a Profile. Market to Sponsors and CROs. <span class="orange_arrow">&raquo;</span></a></p>
						<p><a href="http://www.merge.com/Solutions/Clinical-Trials/Merge-CTMS-for-Investigators.aspx"  target="_blank">Organize and Centralize Your Trials with CTMS <span class="orange_arrow">&raquo;</span></a></p>
						<p><a href="http://www.merge.com/Solutions/Clinical-Trials/Merge-CTMS-for-Investigators.aspx"  target="_blank">Improve Enrollment and Financial Success <span class="orange_arrow">&raquo;</span></a></p>
						<a href="#"><div class="back_sub"><span class="orange_arrow">&laquo;</span> BACK</div></a>						
					</div>

					<div class="banner_5 hero">
						<h1>Patients</h1>
						<p><a href="patients.html">Learn About Clinical Trials <span class="orange_arrow">&raquo;</span></a></p>
						<p><a href="patients.html">Report Data for Your Trial <span class="orange_arrow">&raquo;</span></a></p>
						<p><a href="patients.html">Search for a Clinical Trial <span class="orange_arrow">&raquo;</span></a></p>
						<a href="#"><div class="back_sub"><span class="orange_arrow">&laquo;</span> BACK</div></a>						
					</div>
					
					<div id="blue_nav_bar">
						<p><strong>SOLUTIONS FOR:</strong> <a class="barlink barsponsorslink" href="#">Sponsors</a> &bull; <a class="barlink barcroslink" href="#">CROs</a> &bull; <a class="barlink barsiteslink" href="#">Sites</a> &bull; <a class="barlink barpatientslink" href="#">Patients</a></p>
					</div>