{% include head.html %}
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <div class="header-container">
			<div class="overlay"></div>
			<!-- ************************************************* BEGIN LOGIN OVERLAY ************************************************* -->
			{% include lightbox.html %}
			<!-- ************************************************* END LOGIN OVERLAY ************************************************* -->
			</div>
			{% include about_nav.html %}
        </div>
		
        <div class="main-container about_wrap">
			<div id="lab_wash">
			<div id="lab_photo">
				<div id="slogan"><h1 style="color: #ffffff !important;">Any trial.<br/>Any data.<br/>One solution.</h1>
				
					<ul id="sub_contact_bar">
						<li><i class="icon-comments"></i> <a href="http://pages.merge.com/CORPWebLeads_eClinicalContactUs.html" target="_blank">Contact</a></li>
						<li><i class="icon-file-text"></i> <a href="http://www.merge.com/MergeHealthcare/media/documents/brochures/Merge-eclinOS-brochure-final_web.pdf" target="_blank">PDF Brochure</a></li>
						<li><i class="icon-youtube-play"></i> <a href="http://pages.merge.com/2013Q2SPOFlashVideo_WebinarReplay.html" target="_blank">Video</a></li>
					</ul>
				
				</div>
				<img src="home/img/lab_wash.jpg" alt="Laboratory Wash Backing">
			</div>
		</div>
            <div class="main wrapper clearfix">
	
	
				<div id="left_content">
					<p class="larger_intro">Merge eClinical solutions are delivered as a single clinical trial operating platform that is available anywhere, any time.</p>
 
<p>Merge eClinical OS&trade; is a truly unified platform designed to help clients manage and run studies faster and more cost effectively. Users benefit from the convenience of one operating platform with clinical trial capabilities that can be mixed and matched to build a solid foundation for each trial environment. Built as a pay-as-you-go service, and supporting any trial in any phase, eClinical OS puts study management back in the hands of its users.</p>
				</div>	
				
				<div id="right_promo">
					<img class="mobile_hidden" src="home/img/about/ecos_screenshots.png">
				</div>		
            </div>
        </div>
		
{% include footer.html %}
